# Live Class - Week 7

<img src = "https://drive.google.com/file/d/16WKO0cGFC-hAmi3zJM2C1htCcGpLHaXK/view?usp=drive_link">

In [1]:
!pip install Faker
!pip install tabulate

Collecting Faker
  Downloading Faker-26.0.0-py3-none-any.whl (1.8 MB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 1.8/1.8 MB 8.3 MB/s eta 0:00:00
Requirement already satisfied: python-dateutil>=2.4 in /usr/local/lib/python3.10/dist-packages (from Faker) (2.8.2)
Requirement already satisfied: six>=1.5 in /usr/local/lib/python3.10/dist-packages (from python-dateutil>=2.4->Faker) (1.16.0)
Installing collected packages: Faker
Successfully installed Faker-26.0.0
Requirement already satisfied: tabulate in /usr/local/lib/python3.10/dist-packages (0.9.0)

In [2]:
# Import Library yang akan digunakan
from faker import Faker
from tabulate import tabulate
import random
from datetime import datetime, timedelta
import csv

In [3]:
FAKER = Faker('id_ID')

#Import available dataset

In [4]:
#import available dataset
import io
import pandas as pd
from google.colab import files

uploaded = files.upload()

Saving car_product.csv to car_product.csv
Saving city.csv to city.csv

In [5]:
car_pd = pd.read_csv('car_product.csv')

city_pd = pd.read_csv('city.csv')

In [6]:
cities = city_pd.copy()

location = {}
location['lat'] = cities['latitude'].astype(str).tolist()
location['long'] = cities['longitude'].astype(str).tolist()
location['long_lat'] = cities['latitude'].astype(str)+','+cities['longitude'].astype(str)
location['long_lat'] = [i.split(' ')[1] if ' ' in i else i for i in location['long_lat']]

In [7]:
cities['long_lat'] = location['long_lat']
cities = cities.drop(columns=['latitude', 'longitude'])
cities

    kota_id             nama_kota                long_lat
0      3171    Kota Jakarta Pusat    -6.186486,106.834091
1      3172    Kota Jakarta Utara    -6.121435,106.774124
2      3173    Kota Jakarta Barat      -6.1352,106.813301
3      3174  Kota Jakarta Selatan    -6.300641,106.814095
4      3175    Kota Jakarta Timur    -6.264451,106.895859
5      3573           Kota Malang    -7.981894,112.626503
6      3578         Kota Surabaya    -7.289166,112.734398
7      3471       Kota Yogyakarta    -7.797224,110.368797
8      3273          Kota Bandung  -6.9147444,107.6098111
9      1371           Kota Padang       -0.95,100.3530556
10     1375      Kota Bukittinggi  -0.3055556,100.3691667
11     6471       Kota Balikpapan  -1.2635389,116.8278833
12     6472        Kota Samarinda    -0.502183,117.153801
13     7371         Kota Makassar  -5.1333333,119.4166667
14     5171         Kota Denpasar     -8.65629,115.222099

In [8]:
def csv_to_dict(filename):
    """
    Fungsi untuk ekstrak file csv menjadi list of dictionary

    arg:
        - filename (str) : nama file csv yang akan dibuka
    return:
        - data  (list) :  list of dictionary
    """

    # buka file csv
    with open(f'{filename}', mode='r') as file:
        csv_reader = csv.DictReader(file)

        # simpan dalam bentuk list of dictionary
        data = {}
        for row in csv_reader:
            for key, value in row.items():
                # setdefault() untuk menambahkan key ke result_dict
                # value dari key diisi dengan empty list dulu
                # empty list diisi dengan method append per baris data
                data.setdefault(key, []).append(value)

    return data

In [9]:
# buka file car_product
cars_csv = csv_to_dict('car_product.csv')

## Membuat dummy data

### Dummy data users

![users-ERD_Popop_cars.drawio.png]()

In [10]:
def show_data(table):
    """
    Fungsi untuk menampilkan data

    arg:
        - table (dict) : data dictionary yang ingin ditampilkan

    return:
        None
    """

    tab = tabulate(tabular_data = table,
                   headers = table.keys(),
                   tablefmt = "psql",
                   numalign = "center")
    print(tab)

In [11]:
def generate_name(n_name):
    """
    Fungsi untuk membuat nama dummy

    arg:
        - n_name (int) : jumlah data nama yang ingin dibuat

    return:
        names (list) : list nama yang sudah dibuat
    """

    names = list()

    while len(names) < n_name:

        first_name = FAKER.first_name()
        last_name = FAKER.last_name()

        full_name = (f'{first_name} {last_name}')
        if full_name not in names:
            names.append(full_name)

    return names

In [12]:
def users_table(n_users, is_print):
    """
    Fungsi untuk membuat dummy data users table
    header:
        - user_id
        - user_name
        - phone
        - email
        - city

    arg:
        - n_user (int)  : Jumlah user yang ingin dibuat
        - is_print  (bool) : Jika True akan menampilkan hasil data

    return:
        - table  (list) :
    """

    # Buat table
    table = {}
    table["user_id"] = [i+1 for i in range(n_users)]
    names = generate_name(n_users)
    table["name"] = names
    table['phone'] = [FAKER.phone_number() for i in range(n_users)]
    table['email'] = [f"{name.lower().replace(' ', '')}@{FAKER.free_email_domain()}" \
                      for name in names]
    table['city'] = [random.choice(cities['kota_id']) for i in range(n_users)]


    # Print table
    if is_print:
        show_data(table)

    return table

In [13]:
# membuat data table customers
users = users_table(n_users = 100, is_print = True)

+-----------+-----------------------+---------------------+----------------------------------+--------+
|  user_id  | name                  | phone               | email                            |  city  |
|-----------+-----------------------+---------------------+----------------------------------+--------|
|     1     | Damu Farida           | +62-0073-101-5217   | damufarida@hotmail.com           |  1371  |
|     2     | Ikin Simbolon         | +62 (287) 256 4879  | ikinsimbolon@yahoo.com           |  1371  |
|     3     | Hardana Haryanti      | +62-0561-237-7911   | hardanaharyanti@yahoo.com        |  3573  |
|     4     | Alambana Maheswara    | +62 (0567) 765-5781 | alambanamaheswara@hotmail.com    |  7371  |
|     5     | Estiawan Riyanti      | +62 (078) 983 9087  | estiawanriyanti@yahoo.com        |  1375  |
|     6     | Dwi Saragih           | (0005) 630 5713     | dwisaragih@gmail.com             |  1371  |
|     7     | Caket Narpati         | +62 (0800) 352 1953 | caketnarpati@gmail.com           |  7371  |
|     8     | Ikin Prastuti         | +62 (072) 116-9204  | ikinprastuti@yahoo.com           |  5171  |
|     9     | Luluh Iswahyudi       | 081 670 2741        | luluhiswahyudi@gmail.com         |  3174  |
|    10     | Vanesa Pudjiastuti    | +62 (548) 137 8467  | vanesapudjiastuti@hotmail.com    |  3171  |
|    11     | Labuh Sihombing       | 080 871 2368        | labuhsihombing@hotmail.com       |  6472  |
|    12     | Darmaji Puspita       | +62-044-750-4050    | darmajipuspita@hotmail.com       |  5171  |
|    13     | Tari Purwanti         | (0370) 958 4977     | taripurwanti@yahoo.com           |  3471  |
|    14     | Najwa Kusmawati       | +62 (012) 895-7340  | najwakusmawati@yahoo.com         |  3174  |
|    15     | Balapati Hutapea      | +62-079-987-2261    | balapatihutapea@hotmail.com      |  6471  |
|    16     | Adikara Mandasari     | +62 (33) 396 3544   | adikaramandasari@gmail.com       |  3173  |
|    17     | Rina Nainggolan       | +62 (611) 527-9362  | rinanainggolan@hotmail.com       |  3173  |
|    18     | Ghani Napitupulu      | (0227) 320-1628     | ghaninapitupulu@yahoo.com        |  7371  |
|    19     | Kalim Maulana         | (066) 313 0921      | kalimmaulana@yahoo.com           |  3578  |
|    20     | Paiman Prasetyo       | 089 599 0279        | paimanprasetyo@yahoo.com         |  3175  |
|    21     | Harsanto Simanjuntak  | (062) 445-0166      | harsantosimanjuntak@gmail.com    |  6471  |
|    22     | Balapati Adriansyah   | +62 (014) 827-3077  | balapatiadriansyah@hotmail.com   |  3171  |
|    23     | Rusman Hidayanto      | +62 (0761) 107-5613 | rusmanhidayanto@hotmail.com      |  3172  |
|    24     | Cagak Narpati         | +62 (509) 983-8990  | cagaknarpati@hotmail.com         |  3471  |
|    25     | Adhiarja Marpaung     | +62-86-735-4726     | adhiarjamarpaung@yahoo.com       |  7371  |
|    26     | Dimaz Puspita         | +62-0390-573-2212   | dimazpuspita@gmail.com           |  7371  |
|    27     | Danang Irawan         | (0139) 503 2752     | danangirawan@yahoo.com           |  6472  |
|    28     | Iriana Nababan        | (078) 428 1328      | iriananababan@gmail.com          |  1375  |
|    29     | Tina Safitri          | +62-16-588-6713     | tinasafitri@hotmail.com          |  3573  |
|    30     | Kartika Mahendra      | (007) 640 6216      | kartikamahendra@gmail.com        |  3171  |
|    31     | Kawaca Hassanah       | +62-003-739-3347    | kawacahassanah@hotmail.com       |  3174  |
|    32     | Chelsea Pranowo       | (0444) 469-3082     | chelseapranowo@hotmail.com       |  3471  |
|    33     | Wirda Ramadan         | +62 (97) 438 3892   | wirdaramadan@hotmail.com         |  3171  |
|    34     | Maida Habibi          | +62 (719) 872-7225  | maidahabibi@hotmail.com          |  3573  |
|    35     | Keisha Waskita        | (047) 849 4800      | keishawaskita@yahoo.com          |  3578  |
|    36     | Karsa Melani          | (085) 196 0207      | karsamelani@gmail.com            |  3573  |
|    37     | Cemplunk Gunarto      | +62-094-832-6417    | cemplunkgunarto@gmail.com        |  3172  |
|    38     | Lasmono Yulianti      | +62 (11) 707 6083   | lasmonoyulianti@gmail.com        |  3573  |
|    39     | Nova Sitompul         | +62-062-719-8871    | novasitompul@gmail.com           |  6472  |
|    40     | Umar Putra            | +62 (024) 202-7718  | umarputra@yahoo.com              |  5171  |
|    41     | Zahra Hutasoit        | 089 858 5106        | zahrahutasoit@hotmail.com        |  7371  |
|    42     | Digdaya Sihombing     | +62 (096) 745-8536  | digdayasihombing@gmail.com       |  3573  |
|    43     | Mala Palastri         | +62 (0306) 723-8582 | malapalastri@yahoo.com           |  6471  |
|    44     | Balangga Mandasari    | +62 (082) 263 1543  | balanggamandasari@yahoo.com      |  1371  |
|    45     | Latif Purnawati       | +62 (0155) 153-0383 | latifpurnawati@hotmail.com       |  3175  |
|    46     | Elvin Hasanah         | +62 (399) 591-5470  | elvinhasanah@hotmail.com         |  3175  |
|    47     | Chandra Narpati       | +62-0448-976-8536   | chandranarpati@hotmail.com       |  5171  |
|    48     | Harto Saputra         | +62-072-998-2751    | hartosaputra@gmail.com           |  6471  |
|    49     | Kemal Samosir         | +62 (663) 614 4583  | kemalsamosir@hotmail.com         |  3171  |
|    50     | Cawisono Tamba        | +62 (453) 218 2716  | cawisonotamba@hotmail.com        |  6472  |
|    51     | Lasmono Latupono      | +62 (0700) 175-7158 | lasmonolatupono@yahoo.com        |  3471  |
|    52     | Garda Winarsih        | +62 (049) 594 5853  | gardawinarsih@gmail.com          |  3471  |
|    53     | Cemplunk Latupono     | +62 (0982) 824-0165 | cemplunklatupono@yahoo.com       |  3171  |
|    54     | Usman Gunarto         | +62-19-414-3209     | usmangunarto@gmail.com           |  3174  |
|    55     | Nadia Padmasari       | +62-86-486-9815     | nadiapadmasari@gmail.com         |  1371  |
|    56     | Tugiman Purwanti      | +62 (186) 035-7704  | tugimanpurwanti@yahoo.com        |  5171  |
|    57     | Hasta Yuliarti        | +62 (0258) 789-9947 | hastayuliarti@gmail.com          |  3578  |
|    58     | Bala Mahendra         | +62-540-143-2347    | balamahendra@yahoo.com           |  3171  |
|    59     | Nrima Winarsih        | (0997) 944 7467     | nrimawinarsih@hotmail.com        |  3173  |
|    60     | Wardi Simbolon        | +62-0994-003-8717   | wardisimbolon@hotmail.com        |  3273  |
|    61     | Umaya Anggraini       | +62-831-003-7325    | umayaanggraini@yahoo.com         |  3171  |
|    62     | Puti Yuniar           | +62 (0298) 957 4890 | putiyuniar@hotmail.com           |  7371  |
|    63     | Nilam Hariyah         | +62 (798) 592-4483  | nilamhariyah@yahoo.com           |  1371  |
|    64     | Gambira Yuniar        | +62 (13) 754-3892   | gambirayuniar@yahoo.com          |  3273  |
|    65     | Ade Nugroho           | +62 (0638) 333-8644 | adenugroho@gmail.com             |  5171  |
|    66     | Sadina Pradipta       | +62 (161) 696 2946  | sadinapradipta@gmail.com         |  1375  |
|    67     | Saadat Najmudin       | +62 (351) 834 2513  | saadatnajmudin@gmail.com         |  5171  |
|    68     | Bahuwarna Kuswandari  | +62-0171-744-2658   | bahuwarnakuswandari@hotmail.com  |  6472  |
|    69     | Erik Kurniawan        | +62 (0792) 502-0909 | erikkurniawan@gmail.com          |  3471  |
|    70     | Jarwa Ardianto        | +62 (541) 796 8686  | jarwaardianto@gmail.com          |  3471  |
|    71     | Raihan Nashiruddin    | +62 (08) 845-4018   | raihannashiruddin@yahoo.com      |  3173  |
|    72     | Emin Adriansyah       | +62-926-082-1817    | eminadriansyah@hotmail.com       |  3471  |
|    73     | Jumadi Maryati        | +62 (0826) 928-9365 | jumadimaryati@yahoo.com          |  5171  |
|    74     | Kenes Hariyah         | (004) 529 4643      | keneshariyah@gmail.com           |  3471  |
|    75     | Rangga Pradana        | +62 (0215) 601 9358 | ranggapradana@yahoo.com          |  3273  |
|    76     | Karman Mangunsong     | +62 (003) 954 5590  | karmanmangunsong@gmail.com       |  3174  |
|    77     | Jati Fujiati          | +62 (151) 362 6327  | jatifujiati@hotmail.com          |  3471  |
|    78     | Gatot Utami           | (089) 240 2275      | gatotutami@hotmail.com           |  3175  |
|    79     | Dwi Manullang         | +62-44-677-0009     | dwimanullang@gmail.com           |  3172  |
|    80     | Nurul Lestari         | +62 (65) 301-6998   | nurullestari@hotmail.com         |  6472  |
|    81     | Ganep Damanik         | (063) 736-2529      | ganepdamanik@yahoo.com           |  3573  |
|    82     | Dasa Mustofa          | (0370) 708-2786     | dasamustofa@hotmail.com          |  1375  |
|    83     | Rama Hardiansyah      | +62 (298) 294-0807  | ramahardiansyah@yahoo.com        |  3273  |
|    84     | Eka Utami             | +62-893-569-0099    | ekautami@gmail.com               |  1371  |
|    85     | Ozy Lazuardi          | +62 (376) 889-3869  | ozylazuardi@hotmail.com          |  3174  |
|    86     | Tania Jailani         | (004) 761 2852      | taniajailani@hotmail.com         |  3175  |
|    87     | Gambira Winarno       | 084 994 7516        | gambirawinarno@hotmail.com       |  3471  |
|    88     | Balamantri Tampubolon | +62-0935-971-0217   | balamantritampubolon@hotmail.com |  7371  |
|    89     | Eli Riyanti           | +62 (659) 063 9423  | eliriyanti@hotmail.com           |  1375  |
|    90     | Nabila Budiman        | +62-064-887-3070    | nabilabudiman@gmail.com          |  3173  |
|    91     | Mahesa Halim          | +62 (039) 401-7593  | mahesahalim@gmail.com            |  6472  |
|    92     | Raditya Suwarno       | +62 (0208) 410 4980 | radityasuwarno@gmail.com         |  6472  |
|    93     | Vino Manullang        | (0685) 410-8954     | vinomanullang@yahoo.com          |  1375  |
|    94     | Mala Handayani        | +62 (050) 110-1249  | malahandayani@hotmail.com        |  3171  |
|    95     | Zahra Tamba           | +62 (128) 674-0860  | zahratamba@yahoo.com             |  6471  |
|    96     | Kemba Lestari         | +62 (69) 742-8938   | kembalestari@gmail.com           |  3573  |
|    97     | Tira Astuti           | +62 (212) 567-7080  | tiraastuti@hotmail.com           |  3273  |
|    98     | Kenari Prasetya       | (0681) 176-1084     | kenariprasetya@hotmail.com       |  3172  |
|    99     | Jarwi Tarihoran       | +62 (022) 979 2877  | jarwitarihoran@gmail.com         |  3174  |
|    100    | Cakrawala Palastri    | +62 (375) 187 0049  | cakrawalapalastri@gmail.com      |  3173  |
+-----------+-----------------------+---------------------+----------------------------------+--------+

### Dummy Data cars

![cars-ERD_Popop_cars.drawio.png]()

In [14]:
#define function to modify cars table
def cars_table(car_product, user_table, is_print):
    """
    Fungsi untuk membuat dummy data cars table
    header:
        - car_id
        - brand
        - model
        - body_type
        - car_type
        - car_year
        - color
        - km_distance
        - owner_id

    arg:
        - n_cars (int)  : Tabel cars yang sudah disediakan
        - is_print  (bool) : Jika True akan menampilkan hasil data

    return:
        - table  (list) :
    """

    # list warna mobil
    color = ['White', 'Silver', 'Red', 'Black', 'Blue']

    # list warna mobil
    car_type = ['MT', 'AT']

    # list tahun mobil
    car_year = [2005, 2010, 2011, 2020]

    # Buat table
    table = {}
    table["car_id"] = cars_csv["\ufeffproduct_id"]
    table['brand'] = cars_csv["brand"]
    table['model'] = cars_csv["model"]
    table['body_type'] = cars_csv["body_type"]
    table['car_type'] = [random.choice(car_type) for i in range(len(cars_csv["brand"]))]
    table['car_year'] = [random.choice(car_year) for i in range(len(cars_csv["brand"]))]
    table['color'] = [random.choice(color) for i in range(len(cars_csv["brand"]))]
    table['km_distance'] = [FAKER.random_int(10_000, 50_000, 100) \
                            for i in range(len(cars_csv["brand"]))]
    # price_int = [int(x) for x in cars_csv["price"]]
    # table['price'] = price_int
    table["owner_id"] = [random.choice(user_table['user_id']) for i in range(len(cars_csv["brand"]))]

    # Print table
    if is_print:
        show_data(table)

    return table

In [15]:
cars = cars_table(car_product=cars_csv, user_table=users, is_print = True)

+----------+----------+-----------------+-------------+------------+------------+---------+---------------+------------+
|  car_id  | brand    | model           | body_type   | car_type   |  car_year  | color   |  km_distance  |  owner_id  |
|----------+----------+-----------------+-------------+------------+------------+---------+---------------+------------|
|    1     | Toyota   | Toyota Yaris    | Hatchback   | AT         |    2011    | Blue    |     49800     |     92     |
|    2     | Toyota   | Toyota Yaris    | Hatchback   | MT         |    2011    | Silver  |     14400     |     16     |
|    3     | Toyota   | Toyota Yaris    | Hatchback   | AT         |    2010    | Red     |     32200     |     63     |
|    4     | Toyota   | Toyota Yaris    | Hatchback   | AT         |    2020    | Blue    |     42100     |     18     |
|    5     | Toyota   | Toyota Yaris    | Hatchback   | AT         |    2011    | White   |     34000     |     16     |
|    6     | Toyota   | Toyota Agya     | Hatchback   | AT         |    2011    | Red     |     25700     |     22     |
|    7     | Toyota   | Toyota Agya     | Hatchback   | MT         |    2010    | White   |     40100     |     47     |
|    8     | Toyota   | Toyota Agya     | Hatchback   | MT         |    2020    | Red     |     14500     |     57     |
|    9     | Toyota   | Toyota Agya     | Hatchback   | MT         |    2020    | White   |     29900     |     93     |
|    10    | Toyota   | Toyota Agya     | Hatchback   | AT         |    2010    | Black   |     45400     |     64     |
|    11    | Toyota   | Toyota Calya    | Wagon       | AT         |    2020    | Blue    |     40400     |     35     |
|    12    | Toyota   | Toyota Calya    | Wagon       | AT         |    2011    | Silver  |     34000     |     90     |
|    13    | Toyota   | Toyota Calya    | Wagon       | AT         |    2005    | White   |     27300     |     45     |
|    14    | Toyota   | Toyota Calya    | Wagon       | AT         |    2005    | Black   |     16500     |     21     |
|    15    | Toyota   | Toyota Calya    | Wagon       | AT         |    2010    | Black   |     32200     |     46     |
|    16    | Daihatsu | Daihatsu Ayla   | Hatchback   | MT         |    2010    | Black   |     13100     |     52     |
|    17    | Daihatsu | Daihatsu Ayla   | Hatchback   | MT         |    2010    | Red     |     13300     |     26     |
|    18    | Daihatsu | Daihatsu Ayla   | Hatchback   | AT         |    2020    | Blue    |     30400     |     30     |
|    19    | Daihatsu | Daihatsu Ayla   | Hatchback   | MT         |    2011    | Black   |     47200     |     47     |
|    20    | Daihatsu | Daihatsu Ayla   | Hatchback   | AT         |    2011    | Black   |     20100     |     68     |
|    21    | Daihatsu | Daihatsu Terios | SUV         | MT         |    2005    | White   |     29000     |     67     |
|    22    | Daihatsu | Daihatsu Terios | SUV         | AT         |    2010    | Blue    |     36700     |     48     |
|    23    | Daihatsu | Daihatsu Terios | SUV         | MT         |    2020    | Black   |     19900     |     53     |
|    24    | Daihatsu | Daihatsu Terios | SUV         | AT         |    2020    | White   |     27200     |     22     |
|    25    | Daihatsu | Daihatsu Terios | SUV         | MT         |    2011    | Silver  |     22700     |     33     |
|    26    | Daihatsu | Daihatsu Xenia  | MPV         | AT         |    2020    | Silver  |     21500     |     16     |
|    27    | Daihatsu | Daihatsu Xenia  | MPV         | AT         |    2011    | Blue    |     49000     |     15     |
|    28    | Daihatsu | Daihatsu Xenia  | MPV         | AT         |    2011    | Blue    |     14500     |     25     |
|    29    | Daihatsu | Daihatsu Xenia  | MPV         | AT         |    2005    | Black   |     17900     |     30     |
|    30    | Daihatsu | Daihatsu Xenia  | MPV         | MT         |    2010    | Blue    |     46300     |     35     |
|    31    | Honda    | Honda Jazz      | Hatchback   | AT         |    2020    | White   |     38000     |     72     |
|    32    | Honda    | Honda Jazz      | Hatchback   | AT         |    2011    | Black   |     13400     |     40     |
|    33    | Honda    | Honda Jazz      | Hatchback   | MT         |    2010    | White   |     21000     |     27     |
|    34    | Honda    | Honda Jazz      | Hatchback   | MT         |    2005    | Black   |     26400     |     15     |
|    35    | Honda    | Honda Jazz      | Hatchback   | MT         |    2011    | Silver  |     40900     |     53     |
|    36    | Honda    | Honda CR-V      | SUV         | MT         |    2010    | White   |     48800     |     58     |
|    37    | Honda    | Honda CR-V      | SUV         | AT         |    2011    | White   |     28600     |     49     |
|    38    | Honda    | Honda CR-V      | SUV         | MT         |    2010    | Blue    |     22500     |     98     |
|    39    | Honda    | Honda CR-V      | SUV         | AT         |    2005    | White   |     34400     |     20     |
|    40    | Honda    | Honda CR-V      | SUV         | MT         |    2020    | Black   |     17200     |     70     |
|    41    | Honda    | Honda Civic     | Hatchback   | MT         |    2010    | Black   |     34900     |     61     |
|    42    | Honda    | Honda Civic     | Sedan       | AT         |    2011    | Blue    |     12100     |     91     |
|    43    | Honda    | Honda Civic     | Sedan       | MT         |    2005    | Blue    |     17100     |     64     |
|    44    | Honda    | Honda Civic     | Sedan       | MT         |    2010    | Red     |     31900     |     36     |
|    45    | Honda    | Honda Civic     | Hatchback   | MT         |    2020    | Blue    |     27300     |     82     |
|    46    | Suzuki   | Suzuki Ertiga   | MPV         | MT         |    2011    | Silver  |     40800     |     58     |
|    47    | Suzuki   | Suzuki Ertiga   | MPV         | MT         |    2010    | White   |     19200     |     78     |
|    48    | Suzuki   | Suzuki Ertiga   | MPV         | MT         |    2005    | White   |     34500     |     28     |
|    49    | Suzuki   | Suzuki Ertiga   | MPV         | AT         |    2011    | Red     |     46000     |     1      |
|    50    | Suzuki   | Suzuki Ertiga   | MPV         | MT         |    2010    | Black   |     19100     |     37     |
+----------+----------+-----------------+-------------+------------+------------+---------+---------------+------------+

### Dummy Data ads

![ads-ERD_Popop_cars.drawio.png]()

In [16]:
def ad_date_generator():
    '''
    Fungsi untuk membuat tanggal iklan

    args:
        None

	return:
		- ad_date (str)    : tanggal iklan
    '''
    # definisikan awal tanggal
    start_date = datetime(2022, 1, 1)

    # definisikan akhir tanggal
    end_date = datetime(2023, 12, 31, 23, 59, 59)

    # membuat dummy berdasarkan start_date dan end_date
    ad_date = FAKER.date_time_between(start_date = start_date,
                                        end_date = end_date)

    # mengubah object datetime ke string
    # reservation_date = reservation_date.strftime('%d-%m-%Y %H-%M-%S')
    # start_date = start_date.strftime('%d-%m-%Y %H-%M-%S')
    # end_date = end_date.strftime('%d-%m-%Y %H-%M-%S')

    return ad_date

In [17]:
def ads_table(n_ads, car_table, is_print):
    """
    Fungsi untuk membuat dummy data reservation table
    header:
        - ad_id
        - car_id
        - ad_date
        - price

    arg:
        - user_table (list)  : list of dictionary data users
        - car_table (list)  : list of dictionary data cars
        - is_print  (bool) : Jika True akan menampilkan hasil data
        - n_ads (int)  : Jumlah iklan yang ingin dibuat

    return:
        - table  (list) :
    """

    # Buat table
    table = {}
    table["ad_id"] = [i+1 for i in range(n_ads)]

    # table["car_id"] = [random.choice(cars['car_id']) for i in range(n_ads)]
    car_ids = cars['car_id']
    random.shuffle(car_ids)
    table["car_id"] = car_ids[:n_ads]

    date = [ad_date_generator() for i in range(n_ads)]
    table['ad_date'] = date

    # price_int = [int(x) for x in cars_csv["price"]]

    price = []
    for i in range(len(table["car_id"])):
      for j in range(len(car_pd['product_id'])):
        if table["car_id"][i] == car_pd['product_id'][j].astype(str):
          price.append(car_pd['price'][j])
    table['price'] = price



    # Print table
    if is_print:
        show_data(table)

    return table

In [18]:
ads = ads_table(n_ads = 50, car_table = cars, is_print = True)

+---------+----------+----------------------------+-----------+
|  ad_id  |  car_id  | ad_date                    |   price   |
|---------+----------+----------------------------+-----------|
|    1    |    17    | 2022-12-21 18:16:37.336034 |  1.2e+08  |
|    2    |    11    | 2022-01-23 13:00:17.843745 |  1.3e+08  |
|    3    |    12    | 2023-02-20 10:06:52.283775 | 1.37e+08  |
|    4    |    32    | 2023-07-11 14:55:56.626379 |  2.5e+08  |
|    5    |    48    | 2022-01-06 08:28:04.443896 | 1.68e+08  |
|    6    |    44    | 2023-07-23 09:28:50.516348 | 1.79e+08  |
|    7    |    47    | 2023-12-17 09:32:16.221476 | 1.78e+08  |
|    8    |    24    | 2023-05-04 02:58:39.647399 | 1.66e+08  |
|    9    |    34    | 2022-08-30 23:49:39.901916 | 1.92e+08  |
|   10    |    6     | 2023-03-25 02:21:45.507019 | 1.14e+08  |
|   11    |    40    | 2022-06-12 16:43:36.858272 | 3.985e+08 |
|   12    |    16    | 2023-10-01 23:00:38.378953 |  8.3e+07  |
|   13    |    46    | 2022-08-01 18:55:17.644646 | 1.25e+08  |
|   14    |    43    | 2023-07-28 05:23:20.644568 | 1.86e+08  |
|   15    |    3     | 2023-07-26 05:37:36.244337 | 1.62e+08  |
|   16    |    18    | 2023-08-03 03:04:46.420100 |  9.6e+07  |
|   17    |    19    | 2022-06-06 12:39:05.832148 | 1.15e+08  |
|   18    |    33    | 2022-08-27 12:48:57.819493 | 2.16e+08  |
|   19    |    29    | 2023-05-27 01:21:42.914291 |   1e+08   |
|   20    |    21    | 2022-01-28 12:10:46.986142 |  1.9e+08  |
|   21    |    37    | 2022-10-22 04:05:10.532003 | 3.45e+08  |
|   22    |    35    | 2022-03-05 08:53:55.950207 | 1.78e+08  |
|   23    |    38    | 2023-09-02 09:29:39.202830 | 1.16e+08  |
|   24    |    42    | 2023-11-23 23:14:18.771258 | 1.65e+08  |
|   25    |    39    | 2023-03-31 22:40:51.563286 | 2.69e+08  |
|   26    |    10    | 2023-03-22 19:29:12.013184 | 1.155e+08 |
|   27    |    1     | 2023-11-30 23:57:40.282560 | 1.75e+08  |
|   28    |    50    | 2022-06-27 06:37:10.444047 | 1.67e+08  |
|   29    |    41    | 2022-08-27 11:51:29.825833 |  3.5e+08  |
|   30    |    8     | 2022-03-04 23:16:12.568351 |  1.1e+08  |
|   31    |    13    | 2023-05-25 13:19:06.413213 | 1.155e+08 |
|   32    |    30    | 2022-05-03 17:57:32.683615 | 1.59e+08  |
|   33    |    22    | 2022-06-15 06:28:55.685642 | 2.23e+08  |
|   34    |    9     | 2022-09-01 08:47:39.237469 | 1.555e+08 |
|   35    |    36    | 2023-06-12 18:36:52.181298 | 4.15e+08  |
|   36    |    31    | 2022-04-12 06:05:34.745692 | 2.36e+08  |
|   37    |    5     | 2023-03-15 22:31:36.399085 | 1.24e+08  |
|   38    |    27    | 2022-12-29 17:57:55.622864 | 2.205e+08 |
|   39    |    26    | 2023-10-23 05:09:59.775049 |  1.7e+08  |
|   40    |    14    | 2023-01-19 18:25:44.454972 | 1.04e+08  |
|   41    |    4     | 2023-05-22 17:51:28.294250 |  2.2e+08  |
|   42    |    49    | 2023-12-13 00:09:12.331104 |   1e+08   |
|   43    |    20    | 2022-07-17 06:20:33.800624 | 1.13e+08  |
|   44    |    28    | 2023-09-15 05:48:44.958012 | 1.35e+08  |
|   45    |    2     | 2022-01-20 18:17:17.436733 | 2.15e+08  |
|   46    |    7     | 2022-06-17 17:24:26.272307 |  9.7e+07  |
|   47    |    25    | 2022-02-06 22:22:16.968180 | 2.01e+08  |
|   48    |    15    | 2023-08-06 22:34:07.074543 | 1.07e+08  |
|   49    |    45    | 2022-07-16 23:20:35.406682 | 3.975e+08 |
|   50    |    23    | 2022-09-10 09:46:55.687028 | 1.899e+08 |
+---------+----------+----------------------------+-----------+

### Dummy Data bids

![bids-ERD_Popop_cars.drawio.png]()

In [19]:
def bid_table(n_bid, users_table, ads_table, is_print):
    """
    Fungsi untuk membuat dummy data bid table
    header:
        - bid_id
        - ad_id
        - bidder_id
        - bid_price
        - date_bid
        - bid_status

    arg:
        - n_bid : jumlah bid yang ingin dibuat
        - users_table (list)  : list of dictionary data users
        - ads_table (list)  : list of dictionary data ads
        - is_print  (bool) : Jika True akan menampilkan hasil data

    return:
        - table  (list) :
    """

    # Buat table
    table = {}
    table["bid_id"] = [i+1 for i in range(n_bid)]
    table["ad_id"] = [random.choice(ads['ad_id']) for i in range(n_bid)]
    table['bidder'] = [random.choice(users['user_id']) for i in range(n_bid)]

    bid_price = []
    for i in range(len(table["ad_id"])):
      for j in range(len(ads["ad_id"])):
        if table["ad_id"][i] == ads["ad_id"][j]:
          bid_price.append(FAKER.random_int(ads["price"][j], ads["price"][j]+300_000_000, 10_000_000))
    table['bid_price'] = bid_price


    date_bid = []
    for i in range(len(table["ad_id"])):
      for j in range(len(ads["ad_id"])):
        if table["ad_id"][i] == ads["ad_id"][j]:
          date_bid.append(FAKER.date_time_between(start_date = ads["ad_date"][j], end_date = datetime(2024, 6, 30, 23, 59, 59)))
    table['date_bid'] = date_bid

    table['bid_status'] = ['Sent' for i in range(n_bid)]

    # Print table
    if is_print:
        show_data(table)

    return table

In [22]:
bids = bid_table(n_bid = 100, users_table = users, ads_table = ads, is_print = True)

+----------+---------+----------+-------------+----------------------------+--------------+
|  bid_id  |  ad_id  |  bidder  |  bid_price  | date_bid                   | bid_status   |
|----------+---------+----------+-------------+----------------------------+--------------|
|    1     |   32    |    58    |  175500000  | 2024-03-19 20:13:12.953193 | Sent         |
|    2     |    2    |    44    |  224000000  | 2023-09-05 22:29:53.002478 | Sent         |
|    3     |   22    |    22    |  295500000  | 2023-01-31 12:26:49.181918 | Sent         |
|    4     |   20    |    93    |  468000000  | 2023-11-13 07:27:47.255023 | Sent         |
|    5     |   11    |    80    |  175000000  | 2024-02-16 14:23:29.896368 | Sent         |
|    6     |   16    |    54    |  460000000  | 2024-01-19 06:10:36.009557 | Sent         |
|    7     |   28    |    79    |  344000000  | 2024-06-26 00:53:11.363461 | Sent         |
|    8     |   11    |    21    |  305000000  | 2023-05-21 05:57:41.449491 | Sent         |
|    9     |   48    |    94    |  240500000  | 2024-02-11 09:45:57.881157 | Sent         |
|    10    |   42    |    20    |  215000000  | 2024-04-04 19:39:32.037381 | Sent         |
|    11    |   38    |    47    |  185000000  | 2023-08-26 19:28:21.627528 | Sent         |
|    12    |   48    |    33    |  290500000  | 2023-12-30 00:37:37.664663 | Sent         |
|    13    |   16    |    64    |  270000000  | 2024-03-20 03:25:05.839921 | Sent         |
|    14    |   48    |    36    |  460500000  | 2024-05-09 00:41:52.059703 | Sent         |
|    15    |   28    |    41    |  184000000  | 2024-03-24 02:28:05.092671 | Sent         |
|    16    |   21    |    96    |  245000000  | 2023-08-30 17:31:15.495235 | Sent         |
|    17    |    3    |    13    |  367000000  | 2024-03-07 22:19:03.714867 | Sent         |
|    18    |    5    |    88    |  446000000  | 2023-10-29 18:16:55.037102 | Sent         |
|    19    |   24    |    64    |  637500000  | 2023-01-09 22:33:54.213135 | Sent         |
|    20    |   17    |    20    |  165500000  | 2023-02-03 08:02:08.977775 | Sent         |
|    21    |   41    |    52    |  299900000  | 2023-11-29 15:23:31.254907 | Sent         |
|    22    |    5    |    54    |  276000000  | 2024-01-03 17:46:19.300081 | Sent         |
|    23    |   39    |    2     |  306000000  | 2023-04-26 06:12:08.716330 | Sent         |
|    24    |   15    |    41    |  410000000  | 2024-06-02 02:57:15.957590 | Sent         |
|    25    |   31    |    5     |  243000000  | 2023-01-14 19:52:38.661522 | Sent         |
|    26    |   48    |    85    |  310500000  | 2024-05-24 09:20:18.973442 | Sent         |
|    27    |   37    |    95    |  472000000  | 2023-05-20 10:42:33.802212 | Sent         |
|    28    |   14    |    81    |  334000000  | 2022-12-19 11:12:12.077904 | Sent         |
|    29    |   24    |    49    |  647500000  | 2024-05-17 10:02:11.381093 | Sent         |
|    30    |   33    |    90    |  198000000  | 2024-03-02 13:37:43.328836 | Sent         |
|    31    |   20    |    56    |  228000000  | 2024-02-10 21:42:57.847849 | Sent         |
|    32    |   14    |    45    |  124000000  | 2023-09-21 10:03:49.725514 | Sent         |
|    33    |    2    |    30    |  224000000  | 2023-12-31 09:49:58.128981 | Sent         |
|    34    |   21    |    40    |  255000000  | 2024-02-04 23:39:01.071917 | Sent         |
|    35    |   39    |    45    |  466000000  | 2023-08-10 11:41:57.267774 | Sent         |
|    36    |   18    |    74    |  120000000  | 2023-12-27 21:42:11.401129 | Sent         |
|    37    |   44    |    47    |  217000000  | 2024-03-14 20:58:50.609799 | Sent         |
|    38    |   10    |    85    |  96000000   | 2023-07-04 13:52:17.457508 | Sent         |
|    39    |   49    |    66    |  475000000  | 2024-05-27 13:10:44.909332 | Sent         |
|    40    |   18    |    85    |  270000000  | 2023-08-16 00:15:42.521633 | Sent         |
|    41    |   41    |    34    |  309900000  | 2023-07-24 09:33:16.265436 | Sent         |
|    42    |    4    |    22    |  340000000  | 2023-12-18 13:56:11.313359 | Sent         |
|    43    |    1    |    92    |  505000000  | 2023-05-24 11:22:16.924572 | Sent         |
|    44    |   14    |    82    |  314000000  | 2023-08-05 16:31:54.203498 | Sent         |
|    45    |   15    |    18    |  360000000  | 2023-12-21 02:48:23.014427 | Sent         |
|    46    |   40    |    43    |  359000000  | 2024-01-08 06:00:52.618923 | Sent         |
|    47    |   41    |    25    |  419900000  | 2022-11-29 17:51:16.374202 | Sent         |
|    48    |   17    |    28    |  385500000  | 2024-06-12 12:05:42.431362 | Sent         |
|    49    |   49    |    90    |  655000000  | 2024-06-20 13:13:51.856758 | Sent         |
|    50    |   50    |    66    |  428000000  | 2024-03-06 18:47:13.848888 | Sent         |
|    51    |   31    |    90    |  153000000  | 2024-05-03 08:40:37.267179 | Sent         |
|    52    |   14    |    3     |  164000000  | 2023-11-02 21:55:59.245678 | Sent         |
|    53    |   20    |    16    |  278000000  | 2024-02-28 19:52:47.839213 | Sent         |
|    54    |   13    |    53    |  186000000  | 2024-06-29 07:27:27.868950 | Sent         |
|    55    |   44    |    52    |  217000000  | 2024-06-14 05:44:25.945696 | Sent         |
|    56    |   23    |    14    |  385000000  | 2024-06-27 17:48:02.738460 | Sent         |
|    57    |   15    |    26    |  220000000  | 2024-04-27 20:14:52.683376 | Sent         |
|    58    |   44    |    24    |  327000000  | 2024-01-14 07:43:19.616331 | Sent         |
|    59    |   36    |    56    |  315000000  | 2023-11-26 10:22:27.152928 | Sent         |
|    60    |   46    |    40    |  560000000  | 2024-06-03 08:50:30.467772 | Sent         |
|    61    |   48    |    49    |  480500000  | 2024-04-30 20:55:21.149634 | Sent         |
|    62    |   18    |    33    |  360000000  | 2024-01-20 14:52:58.211890 | Sent         |
|    63    |   32    |    18    |  245500000  | 2024-02-13 09:54:26.417753 | Sent         |
|    64    |   26    |    86    |  270000000  | 2023-05-10 12:18:03.251449 | Sent         |
|    65    |   19    |    94    |  173000000  | 2023-07-02 05:15:20.333864 | Sent         |
|    66    |   11    |    56    |  225000000  | 2022-12-27 05:14:49.376240 | Sent         |
|    67    |   10    |    20    |  176000000  | 2023-07-14 01:08:36.777817 | Sent         |
|    68    |   49    |    34    |  565000000  | 2024-02-07 05:15:31.698750 | Sent         |
|    69    |    6    |    68    |  352000000  | 2024-06-13 23:53:06.247957 | Sent         |
|    70    |   29    |    91    |  251000000  | 2023-05-25 03:52:12.139562 | Sent         |
|    71    |   37    |    82    |  272000000  | 2022-04-18 02:36:08.348367 | Sent         |
|    72    |   45    |    73    |  97000000   | 2023-12-08 08:09:04.008110 | Sent         |
|    73    |   50    |    31    |  358000000  | 2023-09-30 14:55:52.626652 | Sent         |
|    74    |   30    |    14    |  249000000  | 2023-05-09 04:12:09.124140 | Sent         |
|    75    |   10    |    4     |  166000000  | 2024-03-15 12:28:52.752229 | Sent         |
|    76    |   26    |    31    |  290000000  | 2023-04-08 17:27:16.541661 | Sent         |
|    77    |   50    |    26    |  428000000  | 2023-08-22 23:03:44.209370 | Sent         |
|    78    |   45    |    87    |  367000000  | 2023-12-16 05:56:09.615018 | Sent         |
|    79    |   41    |    68    |  229900000  | 2023-09-14 20:30:55.027315 | Sent         |
|    80    |   38    |    73    |  245000000  | 2023-04-21 17:59:35.018577 | Sent         |
|    81    |   50    |    11    |  378000000  | 2023-09-17 17:07:49.573079 | Sent         |
|    82    |   11    |    5     |  415000000  | 2022-03-28 04:56:59.396085 | Sent         |
|    83    |   31    |    56    |  203000000  | 2022-12-03 22:47:34.444746 | Sent         |
|    84    |   28    |    56    |  364000000  | 2024-03-18 22:00:59.342487 | Sent         |
|    85    |   33    |    89    |  328000000  | 2024-02-18 15:12:31.735386 | Sent         |
|    86    |   46    |    36    |  550000000  | 2023-11-10 10:13:51.510457 | Sent         |
|    87    |   43    |    25    |  450000000  | 2024-04-11 02:40:55.755399 | Sent         |
|    88    |   29    |    18    |  341000000  | 2023-06-07 07:22:56.136636 | Sent         |
|    89    |   11    |    7     |  315000000  | 2022-10-08 10:55:06.633127 | Sent         |
|    90    |   35    |    19    |  307000000  | 2023-03-25 12:41:18.770596 | Sent         |
|    91    |   18    |    48    |  330000000  | 2023-04-15 13:23:03.583613 | Sent         |
|    92    |   36    |    38    |  195000000  | 2024-03-29 13:11:11.288582 | Sent         |
|    93    |   24    |    48    |  457500000  | 2023-10-22 10:20:01.937406 | Sent         |
|    94    |   41    |    42    |  189900000  | 2023-12-18 20:13:35.847395 | Sent         |
|    95    |   32    |    8     |  165500000  | 2023-08-25 05:47:46.861355 | Sent         |
|    96    |    6    |    18    |  172000000  | 2024-04-11 22:30:01.559832 | Sent         |
|    97    |    6    |    63    |  452000000  | 2023-07-05 23:14:22.376193 | Sent         |
|    98    |   39    |    44    |  226000000  | 2023-10-10 20:07:01.029690 | Sent         |
|    99    |    1    |    87    |  535000000  | 2023-11-10 02:55:06.322478 | Sent         |
|   100    |   34    |    25    |  279000000  | 2023-10-10 10:05:33.302367 | Sent         |
+----------+---------+----------+-------------+----------------------------+--------------+

## Simpan menjadi file csv

In [70]:
def save_to_csv(data, nama_file):
    '''
    Fungsi untuk menyimpan data dummy ke csv

    args:
        - data (list)     : list of dictionary data yang akan dijadikan csv
        - nama_file (str) : nama untuk file csv

	return:
		- None
    '''

    # Membuat file csv
    with open(file = f"{nama_file}.csv", mode = 'w', newline = '') as csv_file:
        # Membuat writer csv
        writer = csv.writer(csv_file)

        # write header csv
        writer.writerow(list(data.keys()))

        # mengetahui panjang data
        len_data = len(list(data.items())[0][1])

        # write data ke file csv
        for i in range(len_data):
            row = []
            for key in data.keys():
                row.append(data[key][i])
            writer.writerow(row)

In [71]:
# menyimpan data users dalam bentuk csv
save_to_csv(data = users,
            nama_file = 'users')

In [72]:
# menyimpan data cities dalam bentuk csv
save_to_csv(data = cities,
            nama_file = 'cities')

In [73]:
# menyimpan data cars dalam bentuk csv
save_to_csv(data = cars,
            nama_file='cars')

In [74]:
# menyimpan data ads dalam bentuk csv
save_to_csv(data = ads,
            nama_file ='ads')

In [75]:
# menyimpan data bids dalam bentuk csv
save_to_csv(data = bids,
            nama_file ='bids')